<?xml version="1.0"?>
<config>
	<frontend>
        <routers>
            <bitpay_callback>
                <use>standard</use>
                <args>
                    <module>Bitpay_Bitcoins</module>
                    <frontName>bitpay_callback</frontName>
                </args>
            </bitpay_callback>
        </routers>
        <layout>			
            <updates>
                <bitcoins>
                    <file>bitcoins.xml</file>
                </bitcoins>
            </updates>
        </layout>
    </frontend>

	<modules>
	   <Bitpay_Bitcoins>
			<!-- for database updates -->
		  <version>1.1.0</version>
	   </Bitpay_Bitcoins>
	</modules>
 
	<global>
		<blocks>
			<bitcoins>
				<class>Bitpay_Bitcoins_Block</class>
			</bitcoins>
		</blocks>

		<models>
			<Bitcoins>
				<class>Bitpay_Bitcoins_Model</class>
				<resourceModel>Bitcoins_resource</resourceModel>
			</Bitcoins>
			<Bitcoins_resource>
				<class>Bitpay_Bitcoins_Model_Resource</class>
				<entities>
					<ipn>
						<table>bitpay_ipns</table>
					</ipn>
				</entities>
			</Bitcoins_resource>
		</models>
	 
		<resources>
			<Bitcoins_setup> <!-- keep this uppercase or you'll get duplicate errors -->
				<setup>
					<!-- which module to look for install/upgrade files in -->
					<module>Bitpay_Bitcoins</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</Bitcoins_setup>
			<Bitcoins_write>
				<connection>
				  <use>core_write</use>
				</connection>
			</Bitcoins_write>
			<Bitcoins_read>
			   <connection>
				<use>core_read</use>
			  </connection>
			</Bitcoins_read>
		</resources>
	</global> 
	
	<default>
		<payment>
			<Bitcoins>
				<active>1</active>
				<model>Bitcoins/paymentMethod</model>
				<title>Bitcoins</title>
				<speed>low</speed>
				<fullscreen>0</fullscreen>
				<currencies>BTC, USD, EUR, GBP, AUD, BGN, BRL, CAD, CHF, CNY, CZK, DKK, HKD, HRK, HUF, IDR, ILS, INR, JPY, KRW, LTL, LVL, MXN, MYR, NOK, NZD, PHP, PLN, RON, RUB, SEK, SGD, THB, TRY, ZAR</currencies>
				<payment_action>authorize</payment_action>
			</Bitcoins>
		 </payment>
	</default>
</config>